.banner-img{
    height: 1000px;
    background-image: url(https://d7z22c0gz59ng.cloudfront.net/japan_contents/img/usr/item/1/19433/19433_1.jpg);
    background-size: cover;
    background-position: center;
}